.header {
    background-color: rgb(8, 104, 194);
    color: white;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}

h1 a {
    color: inherit;
    text-decoration: inherit;
}

h1 a:hover {
    color: inherit;
    text-decoration: inherit;
}