body {
    font-family: Helvetica, sans-serif;
}

.main {
    margin: auto;
    width: 60vw;
}

.vertical-center {
    margin: 0;
    position: absolute;
    width: 60vw;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.loader {
    margin-left: 49.5%;
    margin-top: 10px;
    height: 40px;
}

.plot-container {
    margin-bottom: 10px;
    text-align: center;
}

.plot-container button {
    margin: 0 auto;
    width: 100px;
}

.rating-box {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 10px;
    padding: 1em;
    width: 100%;
    height: auto;
    display: inline-block;
}

.rating-description {
    /* vertical-align: middle; */
    font-size: 1.2em;
    float: left;
    padding: 5px;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    height: 100%;
}

.rating-description span {
    vertical-align: middle;
}

.rating {
    float: left;
    padding: 5px;
    width: 100px;
    height: 100%;
    text-align: center;
}

.rating-text {
    font-size: 1.2em;
}

.rating-number {
    /* display: inline-block; */
    font-size: 2em;
    font-weight: bold;
}

.post-list table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.post-list table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.post-list table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.post-list table th,
.post-list table td {
    padding: .625em;
    text-align: left;
    word-wrap: break-word;
}

.post-list table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .main {
        margin: auto;
        width: 80vw;
    }

    .vertical-center {
        width: 80vw;
    }

    .rating-description {
        /* vertical-align: middle; */
        display: block;
        padding: 5px;
        width: 100%;
    }
    
    .rating {
        display: block;
        padding: 5px;
        width: 20%;
        text-align: center;
    }

    .post-list table {
        border: 0;
    }

    .post-list table caption {
        font-size: 1.3em;
    }

    .post-list table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .post-list table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .post-list table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .post-list table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .post-list table td:last-child {
        border-bottom: 0;
    }
}